nav {
    font-family: 'Roboto Slab', serif;
    
}
.navbar-brand {
    font-size: 40px;
    padding: 10px;
    height: 100%;
    margin: 0;
    border-radius: 15px 45px;
    background-color: #eef3d8;
    color: #4d6466
}
.navbar {
    background-color: #4d6466;
}

body {
    background-image: url(../images/background-pattern.png);
}
.container {
    font-family: 'Raleway', sans-serif;
}
.img-div .portfolio-img {
    display: block;
    height: 200px;
    width: 100%;
    
}


.img-div .image-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: rgba(0, 0, 0, 0.6);
    color: #eef3d8;
    
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}



.img-div:hover .image-overlay,
.img-div:active .image-overlay {
    opacity: 1;
}

.img-div .image-text {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.about, .portfolio, .contact {
    background-color: #b7d8d6;
    color: #4d6466;
}

.submit-btn {
    background-color: #4d6466;
    color: #eef3d8;
}

footer {
    background-color: #789e9e;
    font-family: 'Roboto Slab', serif;
}

#footer-links {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: #eef3d8;
    text-decoration: none;

}










